lab4.txt
[{"id":"337da7ca.d350e8","type":"inject","z":"7bced832.a9fab8","name":"","topic":"","payload":"{\"temp_sim\":\"30\",\"pos_sim\":\"10\"}","payloadType":"json","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":57,"y":278,"wires":[["1f96cb9d.546ac4"]]},{"id":"1f96cb9d.546ac4","type":"function","z":"7bced832.a9fab8","name":"delta-var","func":"msg.payload.delta = Math.round(Math.random()*5);\nmsg.payload.sign =1;\nif (Math.round(Math.random()) > 0.5){\n   msg.payload.sign = -1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":213,"y":372,"wires":[["a0215759.192de8"]]},{"id":"7b854550.44c0ac","type":"switch","z":"7bced832.a9fab8","name":"Split Topic","property":"payload.device","propertyType":"msg","rules":[{"t":"eq","v":"00000000E5D91F60","vt":"str"},{"t":"eq","v":"00000000130D42BB","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":174,"y":124,"wires":[["90c108a0.3cbe38"],["e3a789d0.ac5b28"]]},{"id":"a0215759.192de8","type":"function","z":"7bced832.a9fab8","name":"Payload-device","func":"msg.dev1 = '00000000E5D91F60' ;\nmsg.dev2 = '00000000130D42BB' ;\n// payload selon le signe pour simulation\nif (msg.payload.sign == 1){\n    msg.payload.device = msg.dev1;//temp\n    //simuler changement de temperature\nmsg.payload.temp = parseInt(msg.payload.temp_sim)+ \nparseInt(msg.payload.delta) * parseInt(msg.payload.sign) ;//delta aleatoire\n\n}else{\n    msg.payload.device = msg.dev2;//position\n    //simuler changement de position\nmsg.payload.pos  = parseInt(msg.payload.pos_sim) +\nparseInt(msg.payload.delta) * parseInt(msg.payload.sign) ;//delta aleatoire\n\n}\nreturn {\n    payload: msg.payload\n}\n","outputs":1,"noerr":0,"x":341,"y":466,"wires":[["7b854550.44c0ac","f3b2d01d.2438e"]]},{"id":"90c108a0.3cbe38","type":"function","z":"7bced832.a9fab8","name":"Create Request1","func":"return {\n    payload:{\n        device:msg.payload.device,\n        temp:msg.payload.temp,\n        pos:msg.payload.pos\n    }\n}","outputs":1,"noerr":0,"x":341,"y":44,"wires":[["2411148e.b4c66c"]]},{"id":"e3a789d0.ac5b28","type":"function","z":"7bced832.a9fab8","name":"Create Request2","func":"return {\n    payload:{\n        device:msg.payload.device,\n        temp:msg.payload.temp,\n        pos:msg.payload.pos\n    }\n}","outputs":1,"noerr":0,"x":388,"y":164,"wires":[["61246002.86371"]]},{"id":"2411148e.b4c66c","type":"http request","z":"7bced832.a9fab8","name":"sensor-temp1","method":"POST","ret":"txt","url":"https://dweet.io/dweet/for/Quy-sensor-temp1","tls":"","x":576,"y":51,"wires":[["bd3e77f2.94fca8"]]},{"id":"61246002.86371","type":"http request","z":"7bced832.a9fab8","name":"sensor-pos1","method":"POST","ret":"txt","url":"https://dweet.io/dweet/for/Quy-sensor-pos1","tls":"","x":570,"y":189,"wires":[["73c003d6.75852c"]]},{"id":"f3b2d01d.2438e","type":"debug","z":"7bced832.a9fab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":607,"y":463,"wires":[]},{"id":"bd3e77f2.94fca8","type":"debug","z":"7bced832.a9fab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":846,"y":44,"wires":[]},{"id":"73c003d6.75852c","type":"debug","z":"7bced832.a9fab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":841,"y":190,"wires":[]}]